html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white);
  margin: 0;
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  z-index: 100;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  min-width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
  }
}

.modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  padding: 9px;
  border-radius: 50%;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover {
  fill: var(--blue);
}

.user-form__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .user-form__title {
    line-height: 1.5;
    line-height: calc(20 / 23);
  }
}

.user-form {
  display: flex;
  flex-direction: column;
  color: var(--grey);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

.input-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-title-type {
  display: flex;
  padding-bottom: 4px;
}

.input-type {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--grey);
  outline: none;
  height: 40px;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: border-color, fill;
  transition-duration: var(--time-animation);
  transition-timing-function: var(--cubik-transform);
}

.input-type:hover, .input-type:focus {
  border-color: var(--blue);
}

.input-type:hover ~ svg,
.input-type:focus ~ svg {
  fill: var(--blue);
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 14px;
  fill: var(--black);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.user-comment {
  outline: none;
  padding: 12px 16px;
  margin-bottom: 10px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.user-comment:hover, .user-comment:focus {
  border-color: var(--blue);
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(117, 117, 117, 0.5);
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(117, 117, 117, 0.5);
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(117, 117, 117, 0.5);
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgba(117, 117, 117, 0.5);
}

.user-form-button {
  display: flex;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  background: var(--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white);
  margin-top: 30px;
}

.check-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  cursor: pointer;
  justify-content: space-between;
}

@media screen and (max-width: 320px) {
  .check-label {
    font-size: 10px;
  }
}

@media screen and (min-width: 768px) {
  .check-label {
    font-size: 12px;
    line-height: calc(17 / 12);
  }
}

@media screen and (min-width: 1200px) {
  .check-label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.icon-check {
  width: 16px;
  height: 16px;
  border: 2px solid var(--black);
  border-radius: 2px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--white);
}

@media screen and (max-width: 320px) {
  .icon-check {
    width: 16px;
    height: 16px;
  }
}

.checkbox:checked + .check-label > .icon-check {
  background-color: var(--blue);
  border: none;
}

.license-link {
  display: inline;
  text-decoration: underline;
  color: var(--blue);
  margin-left: 5px;
}

@media screen and (min-width: 1200px) {
  .subscribe-form-section {
    margin-left: auto;
  }
}

.input-form {
  width: 100%;
  color: var(--white);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 20px;
}

.input-form::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .input-form {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .input-form {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 20px;
  }
}

.subscribe-form__button {
  min-width: 200px;
  background-color: var(--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  cursor: pointer;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

@media screen and (min-width: 768px) {
  .subscribe-form__button {
    display: flex;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form__button {
    display: inline-flex;
  }
}

.subscribe-icon {
  margin-left: 12px;
  fill: var(--white);
}

.subscribe-form-title {
  margin-bottom: 20px;
}

.section-title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  font-size: 28px;
  line-height: calc(33 / 28);
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--black);
  margin-bottom: 30px;
}

.add-me-title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--white);
  text-transform: uppercase;
}

.mobile {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-background-color);
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  padding: 48px 25px;
  max-width: 480px;
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}

.mobile.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile__close-btn {
  position: absolute;
  top: 10px;
  right: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}

.mobile__nav-item:not(:last-child) {
  padding-bottom: 32px;
}

.mobile__nav-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.mobile__nav-link:hover, .mobile__nav-link:focus {
  color: var(--accent-color);
}

.mobile__contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile__contacts-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.mobile__contacts-link:hover, .mobile__contacts-link:focus {
  color: var(--accent-color);
  font-size: 34px;
  line-height: 1.18;
}

.mobile__social {
  display: flex;
  flex-wrap: wrap;
}

.mobile__social-item {
  display: flex;
}

.mobile__social-item:not(:last-child) {
  margin-right: 10px;
}

.mobile__social-item:not(:last-child)::after {
  content: '';
  display: inline-flex;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}

.mobile__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile__social-link:focus, .mobile__social-link:hover {
  color: #188ce8;
}

.mobile__close-icon {
  width: 18px;
  height: 18px;
  border: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile__close-btn:hover .mobile__close-icon,
.mobile__close-btn:focus .mobile__close-icon {
  fill: var(--white);
}

.header {
  border-bottom: 2px solid #ececec;
}

.header__logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.4;
  text-decoration: none;
  display: flex;
  margin-right: 93px;
  align-items: center;
}

.web-part {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--blue);
}

.studio-part {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--black);
}

.studio-part-footer {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--white);
}

.header-container {
  display: flex;
}

.nav-container {
  display: flex;
}

.nav-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-list__item,
.contacts-list__item:last-child {
  margin-left: 50px;
}

.nav-list__link {
  content: '';
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--black);
  text-decoration: none;
  background-color: var(--white);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__link:hover, .nav-list__link:focus {
  color: var(--blue);
}

.nav-list__link:hover::after, .nav-list__link:focus::after {
  background-color: var(--blue);
}

.nav-list__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 6px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contacts-list__link {
  display: flex;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--grey);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link:hover, .contacts-list__link:focus {
  color: var(--blue);
}

.contacts-list__link:hover:hover .contacts-icon,
.contacts-list__link:hover.contacts-list__link:focus .contacts-icon, .contacts-list__link:focus:hover .contacts-icon,
.contacts-list__link:focus.contacts-list__link:focus .contacts-icon {
  fill: var(--blue);
}

.contacts-icon {
  fill: var(--grey);
  margin-right: 10px;
}

.active {
  color: var(--blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active:hover {
  color: var(--blue);
}

.active::after {
  background-color: var(--blue);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  background-color: var(--dark-blue);
  max-width: 1600px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-main-desk-1x.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px), (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-main-mob-1x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-main-tab-1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-main-desk-1x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    min-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-main-desk-1x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-main-desk-1x.jpg);
  }
}

.hero__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
}

@media screen and (min-width: 768px) {
  .hero__title {
    max-width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.hero__button {
  background: var(--blue);
  border-radius: 4px;
  cursor: pointer;
  border: 0;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  padding: 10px 30px;
  margin-top: 30px;
}

.advantages-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.advantages-list__item {
  margin-top: 30px;
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .advantages-list__item {
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .advantages-list__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.advantages-list__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 12);
  text-align: left;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .advantages-list__title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-list__title {
    text-align: left;
  }
}

.advantages-list__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--grey);
  margin-top: 10px;
}

.advantages-list__img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.advantages-list__icon {
  width: 65px;
  height: 70px;
}

.activity-section {
  padding-top: 47px;
  padding-bottom: 94px;
  background-color: var(--white);
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1199px) {
  .activity-section {
    display: none;
  }
}

.activity-list__img-wrapper {
  position: relative;
}

.activity-list {
  display: flex;
  justify-content: center;
}

.activity-list__item {
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 12);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 30px;
  max-width: 370px;
}

.activity-list__item:last-child {
  margin-right: 0;
  margin-left: 0;
}

.activity-overlay-text {
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--white);
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-section {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .teammates-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.teammates-list__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .teammates-list__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .teammates-list__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.team-card {
  padding-top: 30px;
  padding-bottom: 16px;
  justify-content: center;
}

.team-card__name {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black);
  text-align: center;
  margin-bottom: 10px;
}

.teammate-occupation {
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--grey);
  text-align: center;
}

.teammates-list__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.teammates-social-links {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 30px;
  cursor: pointer;
}

.teammates-social-links__list {
  align-content: center;
  margin-left: 10px;
}

.teammates-social-links__item {
  width: 20px;
  height: 20px;
  padding: 0;
}

.teammates-social-links__current-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.teammates-social-links__current-link:hover, .teammates-social-links__current-link:focus {
  background-color: var(--blue);
  fill: var(--white);
}

.teammates-list__img {
  max-width: 100%;
  height: auto;
}

.regular-customers-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.customers-list__item {
  flex-basis: calc((100% - 60px) / 2);
  margin-top: 30px;
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .customers-list__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .customers-list__item {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.customers-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  fill: var(--icon-border);
  color: var(--icon-border);
  border: 1px solid var(--icon-border);
  border-radius: 4px;
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list__link:hover, .customers-list__link:focus {
  border-color: var(--blue);
  color: var(--blue);
}

.customers-list__svg {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer-section {
  background-color: var(--dark-blue);
}

.container-footer-sections {
  text-align: center;
  padding: 60px 15px;
}

@media screen and (min-width: 1200px) {
  .container-footer-sections {
    display: flex;
    align-items: baseline;
    text-align: left;
  }
}

.adress-addme-section {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .adress-addme-section {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-left: 76px;
    padding-right: 89px;
  }
}

@media screen and (min-width: 1200px) {
  .adress-addme-section {
    display: flex;
    align-items: baseline;
    margin-bottom: 0;
  }
}

.nav-footer-section {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .nav-footer-section {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .nav-footer-section {
    margin-right: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-subscribe {
    margin-left: auto;
  }
}

.nav-footer-section__logo {
  text-decoration: none;
  justify-content: center;
}

.nav-footer-section__web-part {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--blue);
}

.nav-footer-section__studio-part {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--white);
}

.location-section {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white);
  font-style: normal;
  text-decoration: none;
  color: #ffffff;
}

.address-container {
  margin-top: 20px;
}

.contacts-section-item {
  margin-top: 9px;
}

.contacts-section-link {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
  margin-top: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-section-link:hover, .contacts-section-link:focus {
  color: var(--blue);
  font-style: normal;
  text-decoration: none;
}

.add-me-title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--white);
  text-transform: uppercase;
}

.footer-links-list {
  display: flex;
  cursor: pointer;
  justify-content: center;
}

.footer-links-list__item {
  margin-right: 10px;
  margin-top: 20px;
  margin-left: 0;
}

.footer-links-list__svg {
  width: 20px;
  height: 20px;
  padding: 0;
  fill: var(--white);
}

.footer-links-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-links-list__link:hover, .footer-links-list__link:focus {
  background-color: var(--blue);
}

.porfolio-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .porfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .porfolio-section__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .porfolio-section__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.porfolio-section__item {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

@media screen and (min-width: 768px) {
  .porfolio-section__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .porfolio-section__item {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.porfolio-section__item:not(:last-child) {
  margin-bottom: 30px;
}

.porfolio-section__item:not(:last-child):hover, .porfolio-section__item:not(:last-child):focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.porfolio-section__item:not(:last-child):last-child {
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .porfolio-section__item:not(:last-child) {
    margin-bottom: 0px;
  }
}

.projects-text {
  padding: 20px 24px;
  flex-grow: 1;
  border-top: 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-section__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black);
}

.projects-section-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--grey);
  margin-bottom: 4px;
}

.projects-text-top {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--white);
  background-color: rgba(33, 150, 243, 0.9);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-text-top:hover .overlay-text,
.projects-text-top:focus .overlay-text {
  transform: translateX(0%);
}

.projects-section__img {
  width: 450px;
  height: 294px;
}

@media screen and (min-width: 768px) {
  .projects-section__img {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 1200px) {
  .projects-section__img {
    max-width: 100%;
    height: auto;
  }
}

.button-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -8px;
  margin-top: -15px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .button-list {
    margin-bottom: 30px;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .button-list {
    margin-bottom: 50px;
  }
}

.button-list__item {
  margin-right: 8px;
  margin-top: 15px;
  transition-property: box-shadow, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list__item:hover, .button-list__item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.button-list__item:last-child {
  margin-left: 0;
}

.button-menu-section {
  border-radius: 4px;
  cursor: pointer;
  border: 0;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px 6px 22px;
  color: var(--black);
  background-color: var(--icon-bg);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-menu-section:hover, .button-menu-section:focus {
  background-color: var(--blue);
  color: var(--white);
}

:root {
  --black: #212121;
  --white: #ffffff;
  --grey: #757575;
  --blue: #2196f3;
  --dark-blue: #2f303a;
  --icon-bg: #f5f4fa;
  --icon-border: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */