.regular-customers-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.customers-list__item {
  flex-basis: calc((100% - 60px) / 2);
  margin-top: 30px;
  margin-left: 30px;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 90px) / 3);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 180px) / 6);
  }
}
  
.customers-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  fill: var(--icon-border);
  color: var(--icon-border);
  border: 1px solid var(--icon-border);
  border-radius: 4px;
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      border-color: var(--blue);
      color: var(--blue);
    }
}

.customers-list__svg {
  width: 106px;
  height: 60px;
  fill: currentColor;
}