.modal {
    min-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 40px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;  

      @media screen and (min-width: 768px) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 450px;
      }
      @media screen and (min-width: 1200px) {
        min-width: 528px;
      }
 }
  
  .modal-close {
    position: absolute;  
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    padding: 9px;
    border-radius: 50%;  
    background-color: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }  
  
  .modal-close:hover {
    fill: var(--blue);
  }
  
  .user-form__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black);
    margin-bottom: 12px;

  @media screen and (min-width: 1200px) {
    line-height: 1.5;
    line-height: calc(20 / 23);
    }
}
  
  .user-form {
    display: flex;
    flex-direction: column;
    color: var(--grey);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
  }
  
  .input-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .input-title-type {
    display: flex;
    padding-bottom: 4px;
  }
  
  .input-type {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--grey);
    outline: none;
    height: 40px;
    padding-left: 42px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transition-property: border-color, fill;
    transition-duration: var(--time-animation);
    transition-timing-function: var(--cubik-transform);
      &:hover,
      &:focus {
        border-color: var(--blue);
      }
  }
  
  .input-type:hover~svg,
  .input-type:focus~svg {
    fill: var(--blue);
  }
  
  .form-icon {
    position: absolute;
    left: 12px;
    top: 14px;
    fill: var(--black);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
  }
  
  .user-comment {  
    outline: none;
    padding: 12px 16px;
    margin-bottom: 10px;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
      &:hover,
      &:focus {
        border-color: var(--blue)
      }
  }
  
  ::-webkit-input-placeholder { /* WebKit browsers */
    color:    rgba(117, 117, 117, 0.5);
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    rgba(117, 117, 117, 0.5);
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    rgba(117, 117, 117, 0.5);
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    rgba(117, 117, 117, 0.5);
  }
  
  .user-form-button {
    display: flex;
    width: 200px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
    background: var(--blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--white);
    margin-top: 30px;
  }  
  
  .check-label {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    cursor: pointer;

    @media screen and (max-width: 320px) {
      font-size: 10px;
   }
     @media screen and (min-width: 768px) {
        font-size: 12px;
        line-height: calc(17 / 12);
    }
      @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.71;
    }
}
  
  .icon-check {    
    width: 15px;
    height: 16px;
    border: 2px solid var(--black);
    border-radius: 2px;
    margin-right: 5px;
    display: block;
    text-align: center;
    fill: var(--white);
      @media screen and (max-width: 320px) {
      width: 15px;
      height: 16px;
  }
}

.checkbox {
    &:checked + .check-label {
    & > .icon-check {
    background-color: var(--blue);
    border: none;
          }
      }
  }
  
  .license-link {
    display: inline;
    text-decoration: underline;
    color: var(--blue);
    margin-left: 5px;
  }